In [1]:
# ALL THE IMPORTS


## TRY TO PUT IN SOME GRAPHS Yo
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
data = pd.read_csv("Open_Univ_Data_Final_merged.csv")

In [3]:
data.head()

,id_student,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
0,11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55<=,0,240,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,Pass
1,28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,Pass
2,31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,Pass
3,32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,Pass
4,38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,Pass

In [4]:
data.set_index('id_student',inplace=True)

In [5]:
data.drop(columns=['date_unregistration', 'Exam_score','TMA_score','CMA_score','mean_score','registration_before','unique' ], inplace=True)

In [6]:
data = data.dropna()
data.final_result.value_counts()

Pass           11825
Fail            5612
Withdrawn       4530
Distinction     2825
Name: final_result, dtype: int64

In [7]:
train_cols = data.columns[0:-1]
label = data.columns[-1]

In [8]:
data = data.replace(to_replace ="Distinction", value ="Pass")
data = data.replace(to_replace ="Withdrawn", value ="Fail")
data = data.replace(to_replace ="Pass", value =1)
data = data.replace(to_replace ="Fail", value =0)
data.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
id_student,,,,,,,,,,,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55<=,0,240,N,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,1
28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,1
31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,1
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,1
38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,1

In [9]:
X = data[train_cols]
X.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,questionnaire,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click
id_student,,,,,,,,,,,,,,,,,,,,,
11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55<=,0,240,N,...,0.0,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000
28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500
31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715
32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429
38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902

In [10]:
X_enc = pd.get_dummies(X, prefix_sep='.')
X_enc.head()

,imd_band,num_of_prev_attempts,studied_credits,date_registration,date_registration_pos,dataplus,dualpane,externalquiz,folder,forumng,...,highest_education.A Level or Equivalent,highest_education.HE Qualification,highest_education.Lower Than A Level,highest_education.No Formal quals,highest_education.Post Graduate Qualification,age_band.0-35,age_band.35-55,age_band.55<=,disability.N,disability.Y
id_student,,,,,,,,,,,,,,,,,,,,,
11391,10.0,0,240,-159.0,159.0,0.0,0.0,0.0,0.0,193.0,...,0,1,0,0,0,0,0,1,1,0
28400,3.0,0,60,-53.0,53.0,10.0,0.0,0.0,0.0,417.0,...,0,1,0,0,0,0,1,0,1,0
31604,6.0,0,60,-52.0,52.0,2.0,0.0,0.0,0.0,634.0,...,1,0,0,0,0,0,1,0,1,0
32885,6.0,0,60,-176.0,176.0,0.0,0.0,0.0,0.0,194.0,...,0,0,1,0,0,1,0,0,1,0
38053,9.0,0,60,-110.0,110.0,7.0,0.0,0.0,0.0,875.0,...,1,0,0,0,0,0,1,0,1,0

In [11]:
from sklearn.cluster import KMeans

In [12]:
kmean = KMeans(n_clusters=2)

In [13]:
kmean.fit(X_enc)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [14]:
kmean.cluster_centers_

array([[ 5.61862280e+00,  1.03707834e-01,  7.91734040e+01,
        -7.13061054e+01,  7.13061054e+01,  1.06124895e+01,
         3.61025927e+00,  2.74100920e+00,  8.62838026e-01,
         1.04779091e+03,  6.88820742e+00,  7.68481740e+02,
         1.22525788e+00,  8.75968776e+00,  1.54500836e+03,
         5.23668804e+00,  8.40646780e+01,  9.64064678e+00,
         1.25291330e+01,  8.92600502e+02,  1.95149150e-03,
         7.76057987e+01,  1.08725955e-02,  3.70970449e+02,
         5.66216894e+01,  4.90526317e+03,  1.51225258e+02,
         3.35189607e+01,  3.15026485e-02,  6.94173404e-02,
         9.95260664e-02,  6.66294954e-02,  7.80596599e-02,
         6.50961807e-01,  3.90298299e-03,  1.97936995e-01,
         2.77948146e-01,  1.76749373e-01,  3.47365486e-01,
         3.01644829e-01,  6.98355171e-01,  1.04822972e-01,
         6.99749094e-02,  3.59632004e-02,  9.92472819e-02,
         3.45692779e-02,  8.83746864e-02,  1.32422637e-01,
         6.94173404e-02,  1.08725955e-01,  7.49930304e-02,
         5.04599944e-02,  7.24839699e-02,  5.85447449e-02,
         4.37691664e-01,  1.93197658e-01,  3.53219961e-01,
         6.96961249e-03,  8.92110399e-03,  5.86841372e-01,
         3.97546696e-01,  1.56119320e-02,  9.25006970e-01,
         7.49930304e-02],
       [ 5.29266682e+00,  1.65432681e-01,  7.63421363e+01,
        -6.60727187e+01,  6.60727187e+01,  2.86064607e-01,
         3.00117897e-01,  2.31266211e+00,  9.51190757e-02,
         1.76021221e+02,  2.73892950e+00,  1.76511625e+02,
         1.72270691e-01,  3.20740391e+00,  2.34797076e+02,
         7.94765386e-01,  2.53107758e+01,  1.07451073e+00,
         7.46333412e-01,  1.56464655e+02,  9.43173780e-05,
         3.54172601e+01,  5.98915350e-03,  8.61016741e+01,
         1.52252299e+01,  9.17583777e+02,  5.42176373e+01,
         1.72116477e+01,  2.68332940e-02,  2.71256779e-01,
         1.33506249e-01,  2.09290262e-01,  9.01674133e-02,
         1.70478661e-01,  9.84673426e-02,  1.38127800e-01,
         2.75501061e-01,  2.41358170e-01,  3.45012969e-01,
         4.83329403e-01,  5.16670597e-01,  1.07097383e-01,
         7.44635699e-02,  3.15020042e-02,  9.72883754e-02,
         3.14548456e-02,  8.73378920e-02,  1.10681443e-01,
         6.77670361e-02,  9.78542797e-02,  7.94152323e-02,
         7.31902853e-02,  7.86606932e-02,  6.32869606e-02,
         4.55081349e-01,  1.42796510e-01,  3.87125678e-01,
         8.77151615e-03,  6.22494695e-03,  7.16717755e-01,
         2.77717519e-01,  5.56472530e-03,  9.00306531e-01,
         9.96934685e-02]])

In [15]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(data['final_result'], kmean.labels_))
print(classification_report(data['final_result'], kmean.labels_))

[[  308  9834]
 [ 3279 11371]]
              precision    recall  f1-score   support

           0       0.09      0.03      0.04     10142
           1       0.54      0.78      0.63     14650

    accuracy                           0.47     24792
   macro avg       0.31      0.40      0.34     24792
weighted avg       0.35      0.47      0.39     24792