# Setup a classification experiment

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Open_Univ_Data_Final_merged.csv")
df.head()

,id_student,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
0,11391,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55<=,0,240,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,Pass
1,28400,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,Pass
2,31604,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,Pass
3,32885,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,Pass
4,38053,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,Pass

In [3]:
df['final_result'].value_counts()

Pass           12356
Fail            5740
Withdrawn       4673
Distinction     3024
Name: final_result, dtype: int64

In [4]:
df.drop(df[df.final_result == 'Withdrawn'].index, inplace=True)

In [5]:
df['final_result'].value_counts()

Pass           12356
Fail            5740
Distinction     3024
Name: final_result, dtype: int64

In [6]:
df = df.replace(to_replace ="Distinction", value ="Pass")
df['final_result'].value_counts()

Pass    15380
Fail     5740
Name: final_result, dtype: int64

In [7]:
#df.drop(df[df.final_result == 'Distinction'].index, inplace=True)
#df['final_result'].value_counts()

In [8]:
df['imd_band'].value_counts()

4.0     2287
3.0     2147
6.0     2112
2.0     2100
5.0     2077
8.0     1990
7.0     1946
9.0     1905
1.0     1888
10.0    1810
Name: imd_band, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21120 entries, 0 to 25792
Data columns (total 44 columns):
id_student               21120 non-null int64
code_module              21120 non-null object
code_presentation        21120 non-null object
gender                   21120 non-null object
region                   21120 non-null object
highest_education        21120 non-null object
imd_band                 20262 non-null float64
age_band                 21120 non-null object
num_of_prev_attempts     21120 non-null int64
studied_credits          21120 non-null int64
disability               21120 non-null object
date_registration        21120 non-null float64
date_unregistration      2 non-null float64
date_registration_pos    21120 non-null float64
registration_before      0 non-null float64
mean_score               21117 non-null float64
CMA_score                12862 non-null float64
TMA_score                20611 non-null float64
Exam_score               4957 non-null float64
unique                   21120 non-null object
dataplus                 21120 non-null float64
dualpane                 21120 non-null float64
externalquiz             21120 non-null float64
folder                   21120 non-null float64
forumng                  21120 non-null float64
glossary                 21120 non-null float64
homepage                 21120 non-null float64
htmlactivity             21120 non-null float64
oucollaborate            21120 non-null float64
oucontent                21120 non-null float64
ouelluminate             21120 non-null float64
ouwiki                   21120 non-null float64
page                     21120 non-null float64
questionnaire            21120 non-null float64
quiz                     21120 non-null float64
repeatactivity           21120 non-null float64
resource                 21120 non-null float64
sharedsubpage            21120 non-null float64
subpage                  21120 non-null float64
url                      21120 non-null float64
sum_click                21120 non-null int64
days_interacted          21120 non-null int64
daily_click              21120 non-null float64
final_result             21120 non-null object
dtypes: float64(30), int64(5), object(9)
memory usage: 7.3+ MB

In [10]:
df.isnull().sum()

id_student                   0
code_module                  0
code_presentation            0
gender                       0
region                       0
highest_education            0
imd_band                   858
age_band                     0
num_of_prev_attempts         0
studied_credits              0
disability                   0
date_registration            0
date_unregistration      21118
date_registration_pos        0
registration_before      21120
mean_score                   3
CMA_score                 8258
TMA_score                  509
Exam_score               16163
unique                       0
dataplus                     0
dualpane                     0
externalquiz                 0
folder                       0
forumng                      0
glossary                     0
homepage                     0
htmlactivity                 0
oucollaborate                0
oucontent                    0
ouelluminate                 0
ouwiki                       0
page                         0
questionnaire                0
quiz                         0
repeatactivity               0
resource                     0
sharedsubpage                0
subpage                      0
url                          0
sum_click                    0
days_interacted              0
daily_click                  0
final_result                 0
dtype: int64

In [11]:
df.drop(columns=['date_unregistration','id_student', 'Exam_score','TMA_score','CMA_score','mean_score','registration_before','unique' ], inplace=True)
df = df.dropna()
df.isnull().sum()

code_module              0
code_presentation        0
gender                   0
region                   0
highest_education        0
imd_band                 0
age_band                 0
num_of_prev_attempts     0
studied_credits          0
disability               0
date_registration        0
date_registration_pos    0
dataplus                 0
dualpane                 0
externalquiz             0
folder                   0
forumng                  0
glossary                 0
homepage                 0
htmlactivity             0
oucollaborate            0
oucontent                0
ouelluminate             0
ouwiki                   0
page                     0
questionnaire            0
quiz                     0
repeatactivity           0
resource                 0
sharedsubpage            0
subpage                  0
url                      0
sum_click                0
days_interacted          0
daily_click              0
final_result             0
dtype: int64

In [12]:
#df1 = df.select_dtypes(include=['int64'])

#df1.head()

In [13]:
df.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,quiz,repeatactivity,resource,sharedsubpage,subpage,url,sum_click,days_interacted,daily_click,final_result
0,AAA,2013J,M,East Anglian Region,HE Qualification,10.0,55<=,0,240,N,...,0.0,0.0,13.0,0.0,32.0,5.0,934,40,23.350000,Pass
1,AAA,2013J,F,Scotland,HE Qualification,3.0,35-55,0,60,N,...,0.0,0.0,12.0,0.0,87.0,48.0,1435,80,17.937500,Pass
2,AAA,2013J,F,South East Region,A Level or Equivalent,6.0,35-55,0,60,N,...,0.0,0.0,19.0,0.0,144.0,90.0,2158,123,17.544715,Pass
3,AAA,2013J,F,West Midlands Region,Lower Than A Level,6.0,0-35,0,60,N,...,0.0,0.0,45.0,0.0,79.0,14.0,1034,70,14.771429,Pass
4,AAA,2013J,M,Wales,A Level or Equivalent,9.0,35-55,0,60,N,...,0.0,0.0,11.0,0.0,91.0,45.0,2445,143,17.097902,Pass

In [14]:

train_cols = df.columns[0:-1]
train_cols

Index(['code_module', 'code_presentation', 'gender', 'region',
       'highest_education', 'imd_band', 'age_band', 'num_of_prev_attempts',
       'studied_credits', 'disability', 'date_registration',
       'date_registration_pos', 'dataplus', 'dualpane', 'externalquiz',
       'folder', 'forumng', 'glossary', 'homepage', 'htmlactivity',
       'oucollaborate', 'oucontent', 'ouelluminate', 'ouwiki', 'page',
       'questionnaire', 'quiz', 'repeatactivity', 'resource', 'sharedsubpage',
       'subpage', 'url', 'sum_click', 'days_interacted', 'daily_click'],
      dtype='object')

In [15]:
label = df.columns[-1]
label

'final_result'

In [16]:
X = df[train_cols]
y = df[label].apply(lambda x: 1 if x == "Pass" else 0) #Turning response into 0 and 1

seed = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=seed)

In [17]:
y_train.head()

25347    1
25071    1
4855     1
455      0
5188     1
Name: final_result, dtype: int64

# Explore the dataset

In [18]:
from interpret import show
from interpret.data import Marginal, response, ClassHistogram

hist = ClassHistogram().explain_data(X_train, y_train, name = 'Train Data')

# show(hist)

# Train the Explainable Boosting Machine (EBM)

In [19]:
from interpret.glassbox import ExplainableBoostingClassifier, LogisticRegression, ClassificationTree, DecisionListClassifier

ebm = ExplainableBoostingClassifier(interactions= 4, n_jobs=4, max_tree_splits= 4, min_cases_for_splits= 2,   random_state=seed)
ebm.fit(X_train, y_train)   #Works on dataframes and numpy arrays

/home/deepti/anaconda3/lib/python3.6/site-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

ExplainableBoostingClassifier(data_n_episodes=2000,
                              early_stopping_run_length=50,
                              early_stopping_tolerance=1e-05,
                              feature_names=['code_module', 'code_presentation',
                                             'gender', 'region',
                                             'highest_education', 'imd_band',
                                             'age_band', 'num_of_prev_attempts',
                                             'studied_credits', 'disability',
                                             'date_registration',
                                             'date_registration_pos',
                                             'dataplus', 'dualpane',
                                             'externalq...
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'categorical',
                                             'continuous', 'continuous', ...],
                              holdout_size=0.15, holdout_split=0.15,
                              interactions=4, learning_rate=0.01,
                              max_tree_splits=4, min_cases_for_splits=2,
                              n_estimators=16, n_jobs=4, random_state=1,
                              schema=None, scoring=None,
                              training_step_episodes=1)

# Global Explanations: What the model learned overall

In [20]:
ebm_global = ebm.explain_global(name='EBM')
show(ebm_global)

# Local Explanations: How an individual prediction was made

In [21]:
ebm_local = ebm.explain_local(X_test[:50], y_test[:50], name='EBM')
show(ebm_local)

# Evaluate EBM performance

In [22]:
from interpret.perf import ROC

ebm_perf = ROC(ebm.predict_proba).explain_perf(X_test, y_test, name='EBM')
show(ebm_perf)

In [23]:
prob_test = ebm.predict_proba(X_test)
prob_test

array([[0.94801617, 0.05198383],
       [0.07745978, 0.92254022],
       [0.26379089, 0.73620911],
       ...,
       [0.88320092, 0.11679908],
       [0.1401195 , 0.8598805 ],
       [0.27582641, 0.72417359]])

In [24]:
prob_test[1]

array([0.07745978, 0.92254022])

In [25]:
prob_data = prob_test

In [26]:
type(prob_test)

numpy.ndarray

In [27]:
from pandas import DataFrame
prob_data = DataFrame.from_records(prob_data)
print(prob_data.head())
print (type(prob_data))

          0         1
0  0.948016  0.051984
1  0.077460  0.922540
2  0.263791  0.736209
3  0.200861  0.799139
4  0.476157  0.523843
<class 'pandas.core.frame.DataFrame'>

In [28]:
prob_data = prob_data.round(decimals=3)
prob_data.head()

       0      1
0  0.948  0.052
1  0.077  0.923
2  0.264  0.736
3  0.201  0.799
4  0.476  0.524

In [29]:
prob_data = prob_data.rename(columns={0:'Fail', 1:'Pass'})
prob_data.head()

    Fail   Pass
0  0.948  0.052
1  0.077  0.923
2  0.264  0.736
3  0.201  0.799
4  0.476  0.524

In [30]:
prob_data.to_csv('TestData_probabilities.csv', index=False)

## Let's test out a few other Explainable Models

In [31]:
from interpret.glassbox import LogisticRegression, ClassificationTree

# We have to transform categorical variables to use Logistic Regression and Decision Tree
X_enc = pd.get_dummies(X, prefix_sep='.')
feature_names = list(X_enc.columns)
X_train_enc, X_test_enc, y_train, y_test = train_test_split(X_enc, y, test_size=0.20, random_state=seed)

lr = LogisticRegression(random_state=seed, feature_names=feature_names, penalty='l1')
lr.fit(X_train_enc, y_train)

tree = ClassificationTree()
tree.fit(X_train_enc, y_train)

/home/deepti/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning:

Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.

## Compare performance using the Dashboard

In [32]:
lr_perf = ROC(lr.predict_proba).explain_perf(X_test_enc, y_test, name='Logistic Regression')
tree_perf = ROC(tree.predict_proba).explain_perf(X_test_enc, y_test, name='Classification Tree')

show(lr_perf)
show(tree_perf)
show(ebm_perf)

## Glassbox: All of our models have global and local explanations

In [33]:
lr_global = lr.explain_global(name='LR')
tree_global = tree.explain_global(name='Tree')

show(lr_global)
show(tree_global)
show(ebm_global)

## Dashboard: look at everything at once

In [34]:
# Do everything in one shot with the InterpretML Dashboard by passing a list into show

show([hist, lr_global, lr_perf, tree_global, tree_perf, ebm_global, ebm_perf, ebm_local], share_tables=True)